<div class="jumbotron" id="root-header">
  <div class="container">
    <h1 class="display-3">Photo Management App</h1>
    <hr>
    <p class="h6">You will love managing photos with! Sign up!</p>
  </div>
</div>

<div class="container custom-plan">
  <div class="card-deck">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">
        <h3 class="text-center">Premium Plan</h3>
      </div>
      <div class="card-body text-success text-right pb-0">
        <h5 class="card-title">Price : $10</h5>
      </div>
      <ul class="list-group list-group-flush card-body text-success pt-0">
        <li class="list-group-item">Unlimited Image Uploads</li>
        <li class="list-group-item">Responsive Design</li>
        <li class="list-group-item">Access anywhere</li>
      </ul>
      <div class="card-footer bg-transparent border-success text-center">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success" %>
      </div>
    </div>

    <div class="card border-info mb-3">
      <div class="card-header bg-transparent border-info">
        <h3 class="text-center">Amazing Plan</h3>
      </div>
      <div class="card-body text-info">
        <h5 class="card-title">Price $20</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent border-info">Footer</div>
    </div>

</div>
